.cont {
  border: 2px solid #000; /* or any color/style/thickness */
  margin-bottom: 30px;
}

.code-block {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
